
  .product__card {
   
    border: 0.1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-Top: 20px;
    
  }
  
.product__card:hover{
    transform: scale(1.03);
    transition: ease-in-out 0.4s;
}

  .product__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;

  }
  
  .product__details {
    margin-top: 10px;
  }
  
  .product__name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 
  
  .product__description {
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  }

  .product__price {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product__button {
    background-color: #ffb5b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product__button:hover {
    background-color: #f09a9a;
  }
  
  .filter__btn{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.filter__btn button{
    background-color: #ffffff;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-weight: 600;
}

.filter__btn button.active {
    background-color: #ffb5b5; /* Change this to your desired active background color */
    color: #fff; /* Change this to your desired active text color */
}

@media only screen and (max-width:767px)  {
  .filter__btn{
    gap: 10px;

  } 
}